fastapi==0.105.0
uvicorn==0.24.0.post1
Jinja2==3.1.2
itsdangerous==2.1.2
starlette==0.27.0
python-multipart==0.0.6
google-cloud-secret-manager==2.17.0
google-cloud-aiplatform==1.70.0
pydantic==2.9.2
langchain>=0.3,<0.4
langchain-community>=0.3,<0.4
langchain-text-splitters>=0.3,<0.4
langchain-core>=0.3,<0.4
langchain-experimental>=0.3,<0.4
langchain-google-vertexai==2.0.4
#pandas==2.1.4
#pandas-gbq==0.20.0
#numpy==1.26.2
#networkx==3.2.1
#matplotlib==3.8.2
#pytz==2023.3.post1
#scipy==1.14.1